*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #FFFFF0;
}


img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.portfolio{
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.portfolio .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-profil{
    width: 35%;
    
}

.div-profil img{
    border: solid 1px;
}

.div-coding, .div-main-icon, .lien img{
    width: 6%;
}

.div-localisation{
    width: 4%;
}

.main{
    height: 70vh;
    overflow: auto;
}
body::-webkit-scrollbar, .main::-webkit-scrollbar{
    display: none;
}

.titre-main{
    font-size: 1.25rem;
}

.h3-main, ul li{
    font-size: 1rem;
}

.para{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}

hr{
    border: solid 1px black;
}

.chevron {
    transition: transform 0.3s ease;
  }
  
  .chevron.rotate {
    transform: rotate(180deg);
  }
  
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  footer{
    position: fixed;
    bottom: 0;
    background: #FFFFF0;
  }

@media screen and (min-width:768px) {
    .portfolio{
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio{
        width: 50%;
        margin: auto;
    }
}

@media screen and (min-width: 1440px) {
    .portfolio{
        width: 45%;
        margin: auto;
    }
}


